<h2>login</h2>

<form class="form-floating" action="/auth/login" method="POST">
    <div class="form-floating mb-3">
        <input id="floatingEmail" class="form-control" placeholder="email@email.com" type="email" name="email">
        <label for="floatingEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input id="floatingPassword" class="form-control" placeholder="password123" type="password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Log In">
</form>