<h2>sign up</h2>


<form class="form-floating" action="/auth/signup" method="POST">
    <div class="form-floating mb-3">
        <input id="floatingName" type="text" class="form-control" placeholder="Jane Doe" name="name">
        <label for="floatingName">Display Name</label>
    </div>
    <div class="form-floating mb-3">
        <input id="floatingEmail" class="form-control" placeholder="email@email.com" type="email" name="email">
        <label for="floatingEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input id="floatingPassword" class="form-control" placeholder="password123" type="password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Sign Up">
</form>




