<h1>Sell</h1>

<!-- form for adding a new item to the db -->
<form action="/items" method="POST">
    <label for="itemType">Garment Type</label>
    <input type="text" id="itemType" name="type">

    <label for="itemSize">Size</label>
    <input type="text" id="itemSize" name="size">

    <label for="itemBrand">Brand</label>
    <input type="text" id="itemBrand" name="brand">

    <label for="itemPrice">Price</label>
    <input type="number" min="0" step=".10" id="itemPrice" name="price">

    <label for="imgRoute">Image Route</label>
    <input type="text" id="imgRoute" name="route">

    <input type="submit" value="add to your store">
</form>


<!-- size: DataTypes.STRING,
type: DataTypes.STRING,
brand: DataTypes.STRING,
price: DataTypes.REAL,
imgUrl: DataTypes.STRING,
available: DataTypes.BOOLEAN,
userId: DataTypes.INTEGER,
cartId: DataTypes.INTEGER, -->